.hello {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-top: 33px;
}

#nickname_tag {
    color: #0f17c3;
    font-size: 15px;
    font-weight: 600;
}

#logout-btn{
    width: 80px;
    height: 35px;
    font-size: 15px;
}

#posting-btn {
    width: 70px;
    height: 35px;
    font-size: 15px
}

#none-user{
    text-align: center;
}

#userEmailInput{
    width: 100px;
}