* {
    font-family: 'Jua', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.header {
    height: 140px;
    background-color: rgb(230, 237, 251);
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.header_title {
    font-size: 32px;
    align-content: center;
}

#top-bar {
    padding: 0;
}

.navbar-brand {
    color: white;
}

.site-name {
    width: 100%;
    height: 200px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/28/52/03/285203f4865a0560852c21afe190d4e4.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-name > a {
    font-size: 30px;
}

.sidenav {
    display: table-cell;

    float: right;
    width: 250px;
    margin-top: 3%;
    margin-right: 3%;
    padding: 20px;

    border-radius: 5px;
    border: 1px solid rgb(230, 237, 251);

    width: 300px;
    height: 200px;
    text-align: center;
}

.login-btn-wrapper {
    margin: 20px auto 5px auto;

    width: 200px;
}

#login-btn {
    /*background-color: rgb(115, 130, 159);*/
    border: none;
    color: white;
    margin-right: 2px;
    font-size: 15px;
}

#signup-btn {
    background-color: rgb(115, 130, 159);
    text-decoration-line: none;
    border: none;
    color: white;
    font-size: 15px;
}

#signup-btn:hover {
    background-color: rgb(99 119 157);
}

.find-email {
    font-size: 13px;
    text-decoration-line: underline;
    cursor: pointer;
}

.find-email:hover {
    color: #0f17c3;
    font-weight: 700;
}

.main-post {
    border: 1px solid rgb(207, 220, 248);
    padding: 50px;
    border-radius: 10px;

    width: 477px;
    height: 300px;
    overflow: auto;
    resize: none;

    padding: 7px 10px;
    font-weight: 500;

    overflow: auto; /*스크롤 기능*/
}

.posted_post {
    margin: auto;
}

.main-page {
    margin: auto;
    width: 500px;
}

.list-group {
    width: 500px;
    border-bottom: 1px solid rgb(207, 220, 248);
    color: white;
}

.list-group div {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    color: black;
    margin-left: 10px;
}

.form-control {
    width: 500px;
}

#delete_post_btn {
    width: 150px;
    height: 29px;
    border: 1px solid #fbaaaa;
    background: #f8d2d2;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 500;
    padding: 0 10px;
}

#delete_post_btn:hover {
    background: #fda3a3;
}

/*.main-post:disabled {*/
/*    background-color: white;*/
/*}*/

/*.input-comment {*/
/*    margin-top: 10px;*/
/*}*/

/*#post-comment {*/
/*    width: 300px;*/
/*}*/


/*.input-comment button {*/
/*    float: right;*/
/*    background-color: rgb(230, 237, 251)*/
/*}*/

/*.comment-top-hr {*/
/*    border: none;*/
/*    height: 4px;*/
/*    background: rgb(207, 220, 248);*/
/*}*/

/*ul {*/
/*    list-style: none;*/
/*}*/

/*#post-edit-btns {*/
/*    margin-bottom: 5px;*/
/*}*/