/*body {*/
/*    background-color: rgb(230, 237, 251);*/
/*}*/

.post-box {
    padding: 100px 200px 20px 100px;

}

.post-title {
    margin-bottom: 10px;
    font-weight: 600;
}

textarea {
    width: 700px;
    height: 250px;
    border: none;
    resize: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(230, 237, 251);
}

.button-tag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-button {
    margin-left: 30px;
}

button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
}