{%extends 'base.html'%}
{%block con%}
<!--disabled 속성 이용해서 글 수정시 사용-->
<main class="main-page container">
    <textarea class="main-post container" name="" id="" disabled>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsum minus, molestias neque repellat
        reprehenderit saepe sed. Animi cumque deserunt dolor iste natus, sunt! Error esse iure placeat repellendus sit.
    </textarea>


    <p style="color: red" ;>게시글 작성자가 로그인된 유저라면 아래 버튼 나타나게 함</p>
    <div id="post-edit-btns" class="mt-1">
        <button id="update-post-btn" class="btn btn-primary">글 수정</button>
        <button id="delete-post-btn" class="btn btn-danger">글 삭제</button>
    </div>
    <div id="how-many-comments">
        <!-- 댓글 개수 들어갑니다-->
    </div>
    <!-- // 로그인된 유저라면 -->
    <div class="input-comment ">
        <div class="input-group mb-3">
            <input id="post-comment" type="text" class="form-control" placeholder="댓글을 작성해 주세요!"
                   aria-label="댓글을 작성해 주세요!"
                   aria-describedby="button-addon2">
            <button onclick="postComments()" class="btn btn-outline-secondary" type="button" id="button-addon2">작성
            </button>
        </div>

    </div>
    <table class="visual-comment">
        <hr class="comment-top-hr">


        <tr>
            <!-- 댓글 jquery-->
            <ul id="get-comment" class="list-group">
            </ul>
        </tr>
    </table>
</main>
</body>
</html>
{%endblock%}