{%extends 'base.html'%}
{%block con%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="고윤혁의 버켓리스트"/>
    <meta property="og:description" content="이루고 싶은 것을 기록하세요."/>
    <meta property="og:image"
          content="https://images.unsplash.com/photo-1601024445121-e5b82f020549?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>구순재롱잔치 | 회원가입</title>

    <link rel="stylesheet" href="/static/css/signup.css">
    <script src="/static/js/signup.js" defer></script>
</head>
<body>
<header id="signup-header">
    회원가입을 위해 사용자 정보를 적어주세요
</header>
<div id="signup-wrapper">
    <div class="form-floating mb-4">
        <input type="email" class="form-control" id="user-email" placeholder="e-mail을 입력하세요">
        <label for="floatingInput">이메일</label>
        <button type="button" class="btn btn-secondary">중복확인</button>
        <span id="alert-email-check">이미 사용중인 이메일 입니다.</span>
    </div>
    <div class="form-floating mb-4">
        <input type="text" class="form-control" id="user-nickname" placeholder="닉네임을 입력하세요.">
        <label for="floatingInput">닉네임</label>
        <button type="button" class="btn btn-secondary">중복확인</button>
        <span id="alert-email-check">이미 사용중인 이메일 입니다.</span>
    </div>
    <div class="form-floating mb-4">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <label for="floatingPassword">비밀번호</label>
        <span>비밀번호는 8자리 이상, 숫자 + 문자 조합으로 이루어져야 합니다.</span>
    </div>
    <div class="form-floating mb-4">
        <input type="password" class="form-control" id="password-check" placeholder="Password">
        <label for="floatingPassword">비밀번호 확인</label>
        <span>비밀번호가 일치하지 않습니다.</span>
    </div>
    <div class="signup-btn">
        <button type="button" class="btn btn-primary">가입하기</button>
        <button type="button" class="btn btn-danger">취소</button>
    </div>
</div>
</body>
</html>
{%endblock%}